
.recomendado{
    width: 100%;
    height: 100%;
}
.recomendado-one{
    max-width: 400px;
    min-height: 100px;
    margin: 2px 2px 2px 2px;
    text-decoration: none;
}
.recomendado-img{
    width: 100%;
    height: 90%;
}
.recomendado-titulo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.recomendado-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.recomendado-img img:hover{
    border: 2px 
    solid red;
    border-radius: 1px 2px;
}
.recomendado-titulo p{
    color: #041424;
    font-size: 25px;
    font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
    cursor: pointer;
}
.recomendado-titulo p:hover{
    color: red;
}



@media screen and (min-width: 1200px) and (max-width: 1500px){
    .recomendado-one{
        width: 33%;
        height: 100%;
        margin: 2px 2px 2px 2px;
    }
    .recomendado-titulo p{
        font-size: 22px;
        text-align: center;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .recomendado-one{
        width: 33%;
        height: 100%;
        margin: 2px 2px 2px 2px;
    }
    .recomendado-titulo p{
        font-size: 21px;
        text-align: center;
    }
   .recomendado-img{
    height: 75%;
   }
   .recomendado-titulo{
    height: 25%;
   }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .recomendado-img{
        height: 80%;
       }
       .recomendado-titulo{
        height: 20%;
       }
       .recomendado-titulo p{
        font-size: 18px;
       }
       .recomendado{
        margin-top: 0;
        align-items: none;
        height: 200px;
       }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .recomendado{
        width: 50%;

    }
}
@media screen and (min-width: 300px) and (max-width: 600px){
    .recomendado{
        display: block;
        height: auto;
        width: 90%;
        margin: 15px 5%;
    }
    .recomendado-one{
        height: 200px;
    }
    .recomendado-titulo p{
        font-size: 20px;
    }
}