.seccion{
    width: 85%;
    height: 280px;
    margin-left: 7.5%;
    display: flex;
    justify-content: center;
}

/* titulo de la seccion*/
.titulo-seccion{
    width: 85%;
    margin-left: 7.55%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.titulo-seccion_h1{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article{
    width: 100%;
    height: 100%;
    display:flex;
   grid-gap:1%;
    margin-top: 50px;  
}
.article-iten{
    width:32%;
    height: 100%;
   
    background-color: antiquewhite;
    position: relative;
    border:2px solid black ;
}

/* img */
.article-iten-img{
    width: 100%;
    height: 100%;
}

/*articulo play*/
.article-iten-info{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.fa-book-open{
    font-size: 30px;
    color:red;
}
.fa-book-open:hover{
    font-size: 40px;
    color: blue;
}
@media screen and (min-width: 900px) and (max-width: 999px){
    .seccion{
        height: 250px;
    }
}
@media screen and (min-width: 800px) and (max-width: 899px){
    .seccion{
        height: 220px;
    }
    .fa-book-open{
        font-size: 27px;
    }
}
@media screen and (min-width: 700px) and (max-width: 799px){
    .seccion{
        height: 180px;
    }
    .fa-book-open{
        font-size: 24px;
    }
}
@media screen and (min-width: 600px) and (max-width: 699px){
    .seccion{
        height: 150px;
    }
    .fa-book-open{
        font-size: 22px;
    }
    .article-iten-info{
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width: 300px) and (max-width: 599px){
    
    .seccion{
        width: 90%;
        margin-left: 5%;
        height: 200px;
    }
    .article{
        width: 100%;
        height: 100%;
        margin-left: 0;
        display:block;
        grid-row:3%;
        margin-top: 10px;  
    }
    .article-iten{
        margin-left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}
